.SignIn {
    background-color: white;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.SignIn-Title {
    background-color: white;
}
.SignIn-User {
    width: 80%;
    height: 3rem;
    margin: 1rem;
    background-color: white;
    font-size: 1.3rem;
    padding-left: 1rem;
}
.SignIn-Button {
    background-color: black;
    color: white;
    height: 3rem;
    width: 7rem;
    font-size: 1.3rem;
    margin: 1rem;
    transition: 350ms;
}
.SignIn-Create-Button {
    text-decoration: underline;
    border: none;
    font-size: 1rem;
    color: black;
    background-color: white;
}
.SignIn-Form {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.SignIn-Error {
    color: white;
    background-color: red;
}
.SignIn-No-Error {
    visibility: hidden;
}
.SignIn-Button:hover {
    background-color: whitesmoke;
    color: black;
    transition: 350ms;
}