<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/marbelladb-ee6df.appspot.com/o/Logo.png?alt=media&token=af753207-9ec2-404f-9912-3aa776192663"
        alt="logo"
        style="width: 300px; heigth:700px"
      />
      <h2>Hola {{name}} {{lastname}}! Gracias por tu comentario!</h2>
      <h3>Recibimos con exito tu comentario, en minutos atenderemos a tu
        consulta.</h3>
      <br />
      <h3>Si queres podes hablarnos a alguno de nuestros números:</h3>
      <ul>
        <li>Diego: 3875117293</li>
        <li>Martin: 3874648579</li>
        <li>Juan: 3874064323</li>
      </ul>
    </div>
  </body>
</html>