<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <div>
      <img
        src="https://firebasestorage.googleapis.com/v0/b/marbelladb-ee6df.appspot.com/o/Logo.png?alt=media&token=af753207-9ec2-404f-9912-3aa776192663"
        alt="logo"
        style="width: 300px; heigth:700px"
      />
      <h2>El usuario {{name}} {{lastname}} dejo un comentario:</h2>
      <br />
      <h3>{{comment}}</h3>
    </div>
  </body>
</html>