.Purchase-Finished {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.Purchase-Info-Section {
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(236, 229, 229);
  height: 100%;
  padding: 2rem 0 0 2rem;
  width: calc(55% - 2rem);
}
@media screen and (max-width: 868px) {
  .Purchase-Finished {
    margin-bottom: 3rem;
  }
  .Purchase-Info-Section {
    width: calc(100% - 2rem);
    padding: 2rem 0 0 1rem;
  }
}
