.Order-Summary {
  display: none;
}
@media screen and (max-width: 868px) {
  .Order-Summary {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Order-Summary-Header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 95%;
  }
  .Order-Summary-Text {
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
  }
  .Order-Discount {
    margin-left: 5%;
    display: flex;
    width: 95%;
    font-size: 0.8rem;
    justify-content: space-between;
  }
  .Order-Discount-Text {
    font-weight: 400;
  }
}
