.Mini-Product {
  width: 100%;
}
.MiniProduct-Product {
  width: 100%;
  text-decoration: none;
}
.MiniProduct-Image-Box {
  width: 100%;
}
.MiniProduct-Image {
  width: 100%;
}
.MiniProduct-Name {
  color: black;
}
.MiniProduct-Price {
  color: black;
  font-weight: 600;
}
