.Choose-Payment {
  display: flex;
  flex-direction: column;
  width: calc(90% - 2rem);
  padding: 1rem 0 0 2rem;
}
.Choose-Header-Title {
  font-size: 1.05rem;
}
.Choose-Body {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.Choose-Body-Item {
  height: 2.5rem;
  width: 100%;
  border: 1px solid grey;
  border-radius: 8px;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  align-items: center;
  padding-left: 1rem;
}
.Choose-Body-Item-Text {
  margin-left: 2rem;
  font-weight: 600;
}
.Button-Payment-Container {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 0.5rem;
}
.Finish-Payment-Continue {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 20px;
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  background-color: black;
  color: white;
  border: 1px solid white;
  transition: 300ms;
  cursor: pointer;
}
.Finish-Payment-Continue:hover {
  background: white;
  color: black;
  border: 1px solid black;
}
@media screen and (max-width: 868px) {
  .Choose-Payment {
    padding: 0 1rem;
  }
  .Finish-Payment-Continue {
    font-size: 1.2rem;
    height: 3rem;
  }
}
