.Contact-Main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.Contact-Contact {
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  width: 70%;
}
.Contact-Name-Input {
  width: 90%;
  height: 2rem;
  border: 0.8px solid grey;
  border-radius: 4px;
  padding-left: 1rem;
}
.Contact-Text-Input {
  width: 90%;
  height: 5rem;
  border: 0.8px solid grey;
  border-radius: 4px;
  padding: 0.5rem 0 0 1rem;
}
.Contact-Contact-Button {
  margin-top: 2rem;
  width: 90%;
  border-radius: 8px;
  background: black;
  color: white;
  border: 0.8px solid white;
  font-weight: 600;
  font-size: 0.9rem;
  height: 2.2rem;
  transition: 350ms;
  cursor: pointer;
}
.Contact-Contact-Button:hover {
  background: white;
  color: black;
  border: 0.8px solid black;
}
